@model IEnumerable<HairSaloonScheduler.Models.Availability>

@{
	ViewData["Title"] = "Dolu Saatler";
}


<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Employee.EmployeeName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Date)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.StartTime)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.EndTime)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Employee.EmployeeName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Date)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.StartTime)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.EndTime)
				</td>
			</tr>
		}
	</tbody>
</table>
